@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-history {
    @apply pt-0 h-full underline text-gray-800 dark:text-gray-200 font-bold focus:text-gray-700 text-center border-b-2 focus:outline-none focus:border-gray-700 border-transparent;
  }
  .btn-toWatch {
    @apply pt-0 h-full underline text-gray-800 dark:text-gray-200 focus:text-gray-700 font-bold text-center border-b-2 focus:outline-none focus:border-gray-700 border-transparent;
  }
  .btn-playlist {
    @apply pt-0 h-full text-gray-600 dark:text-gray-200 focus:text-gray-700 text-center border-b-2 focus:outline-none focus:border-gray-700 border-transparent;
  }
  .text-btn-bottom {
    @apply text-sm focus:outline-none font-medium leading-4  px-4 py-2 hover:bg-gray-50 dark:hover:bg-gray-300 hover:text-gray-700 rounded;
  }
}
.playlist-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.playlist-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}
.playlist-scrollbar::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 6px;
  border: 2px solid #fff;
}
.playlist-scrollbar {
  scrollbar-width: thin;
}
.btn-special-underline {
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}
.arrow-left {
  width: 0;
  height: 0;
  border-left: 17px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 0px solid black;
  border-top: 17px solid black;
}

.arrow-right {
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 17px solid transparent;
  border-bottom: 0px solid black;
  border-top: 17px solid black;
}
.barAnimation {
  transition: margin-top 150ms;
}
.translate-x-full1 {
  --tw-translate-x: 101%;
}
