/* Video */
.videoContainer {
  height: calc((9 / 16) * 100vw);
  max-height: calc(100vh - 169px);
  min-height: 480px;
  background-color: black;
}
.video {
  height: calc((9 / 16) * 100vw);
  max-height: calc(100vh - 169px);
  min-height: 480px;
  margin-left: auto;
  margin-right: auto;
}
.bg-blackT {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
}
.controlsContainer {
  opacity: 1;
  /* Opacity should be 0 */
}

.videoControls {
  width: 100%;
  position: absolute;
  bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 10px;
  align-items: flex-end;
  justify-content: center;
}
.center-buttons {
  display: flex;
  gap: 10px;
  align-items: flex-end;
  justify-content: center;
  width: fit-content;
}
.controls-btn {
  width: 24px;
  height: 24px;
}
.volumeSlider {
  position: absolute;
  left: 0;
  bottom: 5px;
  max-width: 70%;
  visibility: hidden;
}
.control-icon {
  width: 24px;
  height: 24px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.timecontrols {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.time_progressbarContainer {
  background-color: gray;
  border-radius: 2px;
  width: 80%;
  min-height: 20px;
  max-height: 24px;
  z-index: 30;
  position: relative;
  margin: 0 20px;
}

.time_progressBar {
  border-radius: 0;
  background-color: rgb(78 78 78);
  min-height: 20px;
  max-height: 24px;
}

.controlsTime {
  color: white;
}
.btnHover:hover {
  filter: invert(8%) sepia(5%) saturate(22%) hue-rotate(353deg) brightness(107%)
    contrast(84%);
}
